<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			CRUD Web Application
		</title>
  	</head>
	<body>
		<h1 align = "center">Welcome to Login Page</h1>
			<form align = "center" action="/login" method="POST">
				Enter UserName<input type="text" name="uName"></input><br>
				Enter Password<input type="password" name="uPassword"></input><br>
				<input type="submit" value="SignIn" style="height:25px; width:100px">
			</form>
			<form align = "center" action="/signup" method="GET">
				<input type="submit" value="Register" style="height:25px; width:100px">
			</form>
  	</body>
</html>