<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			CRUD Web Application
		</title>
  	</head>
	<body>
		<h1>Welcome to Registration Page</h1>
			<form action="/register" method="POST">
				Enter UserName<input type="text" name="uName"></input>
				Enter EmailId<input type="text" name="uEmailId"></input>
				Enter MobileNumber<input type="text" name="uMobileNum"></input>
				Enter Password<input type="password" name="uPassword1"></input>
				Confirm Password<input type="password" name="uPassword2"></input>
				<input type="submit" value="Register">
			</form>
  	</body>
</html>